html, body, root {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}


@keyframes smoothFade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.animate-smooth {
  animation: smoothFade 0.5s ease-out forwards;
}